
.bulletpoints{

list-style-type: square;

}

h3{
 font: size 50px;
 font-style: italic;
 letter-spacing: 1px;
 }

 img{
    
    
    width: 50px;
    height: 50px;
    border-radius:10px ;
    padding:5px;
    width: 50%,
    
    
 }

  .bordered{
   
      border-style: solid;
      border-width: 0px 3px 0px 0px;
      border-color: #000000;
  }

.alignr{
   text-align: right;
}
 